{% extends 'layouts/base.html' %}

{% block title %} 거래현황 {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <script type="text/javascript">

      var myReader = new FileReader();
      myReader.onload = function(event){
          return JSON.stringify(myReader.result);
      };
      
      var webSocket = new WebSocket("wss://api.upbit.com/websocket/v1");
      webSocket.onopen = function(message){
        console.log("Server connect...\n");
        var msg = [
          {ticket : "test4"},
          {
            type : "ticker",
            codes : {{ datas|safe }}//["KRW-BTC",""]
          }
        ]
        console.log(JSON.stringify(msg));
        webSocket.send(JSON.stringify(msg));//'[{"ticket":"test"},{"type":"ticker","codes":["KRW-BTC"]}]');
      };

      // 소켓 서버로 부터 메시지가 오면 호출되는 함수.
      webSocket.onmessage = function(message){
        // 출력 area에 메시지를 표시한다.
        //console.log(message.data.text());//myReader.readAsText(message.data))
        //myReader.readAsText(message.data);
        const printAddress = async () => {
          const a = await message.data.text();
          resultJson = JSON.parse(a);
          //console.log(resultJson);
          price_el = $("#"+resultJson.code+"_price").text(resultJson.trade_price);
          price_el.removeClass("text-red")
          price_el.removeClass("text-success")
          rate_el = $("#"+resultJson.code+"_rate").empty();
          rate_el.removeClass("text-red")
          rate_el.removeClass("text-success")
          rate = (resultJson.signed_change_rate*100).toFixed(2);
          if (rate > 0){
            rate_el.append("<i class=\"fas fa-arrow-up mr-3\"></i>").append(rate+"%");
            rate_el.addClass("text-success")
            price_el.addClass("text-success")
          }else if(rate<0){
            rate_el.append("<i class=\"fas fa-arrow-down mr-3\"></i>").append(rate+"%");
            rate_el.addClass("text-red")
            price_el.addClass("text-red")
          }
          $("#"+resultJson.code+"_acc_price").text(resultJson.acc_trade_price_24h);
        };

        printAddress();
      };
      // 소켓 접속이 끝나면 호출되는 함수
      webSocket.onclose = function(message){
        console.log("Server Disconnect...\n");
      };
      // 소켓 통신 중에 에러가 발생되면 호출되는 함수
      webSocket.onerror = function(message){
        console.log("error...\n");
      };

      function autoRefresh_div()
      {
        var currentLocation = window.location;
        $("#page").load(currentLocation + ' #page');
      }
      //setInterval('autoRefresh_div()', 500);
    </script>
    <!-- Header -->
    <div class="header pb-6" style="background: #0f4c81">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">실시간 시세</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">시세</li>
                </ol>
              </nav>
            </div>
            <!--<div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>-->
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-5">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">보유 KRW</h5>
                      <span class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">총 보유자산</h5>
                      <span class="h2 font-weight-bold mb-0">1,341,803,561</span>
                    </div>
                  </div>
                  <!--
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">총평가 수익률</span>
                  </p>
                  -->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">총 매수금액</h5>
                      <span class="h2 font-weight-bold mb-0">923,125,552</span>
                    </div>
                    <!--
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    -->
                  </div>
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">총 평가금액</h5>
                      <span class="h2 font-weight-bold mb-0">1,341,452,664</span>
                    </div>
                  </div>
                  <!--
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                  -->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">총 평가손익</h5>
                      <span class="h2 font-weight-bold mb-0">418,327,112</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">총 평가수익률</h5>
                      <span class="h2 text-blue mr-2 font-weight-bold mb-0"><i class="fa fa-arrow-up text-blue"></i> 45.31%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div  id="page" class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">거래 현황</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">코인</th>
                    <th scope="col">현재가(KRW)</th>
                    <th scope="col">전일대비(%)</th>
                    <th scope="col">거래대금(KRW)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in datas_list %}
                    <tr>
                      <th scope="row">
                        {{ data }}
                      </th>
                      <td 
                          id="{{ data }}_price">
                      </td>
                      <td id="{{ data }}_rate">
                      </td>
                      <td id="{{ data }}_acc_price">
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}``

  ws_send();
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
